// //////////////////////////////////////////////////////////////////////////////////////////////
// Imports
// //////////////////////////////////////////////////////////////////////////////////////////////

@import 'global';

// //////////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////////

// offerLanding.html

// //////////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////////

// body, html {
// 	height: 100%;
// 	width: 100%;
// }

// //////////////////////////////////////////////////////////////////////////////////////////////
// Activate Button
// //////////////////////////////////////////////////////////////////////////////////////////////

.activate {
	text-align: center;
	margin: 0px auto;
	padding-top: 165px;

	// iPhone 6/7 Specific Styles
	@media screen and (min-width: 375px) {
		padding-top: 235px;
	}

	// iPhone 6+/7+ Specific Styles
	@media screen and (min-width: 414px) {
		padding-top: 285px;
	}


	.activateButton {
		font-family: 'SSBold', 'Roboto', sans-serif;
		text-transform: uppercase;
		font-size: 24px;
		color: white;
		border: none;
		background: $sonicRed;
		border-radius: 3px;
		padding: 7px 56px;
		margin-bottom: 12px;

		// iPhone 6/7 Specific Styles
		@media screen and (min-width: 375px) {
			padding: 10px 80px;
		}

		// iPhone 6+/7+ Specific Styles
		@media screen and (min-width: 414px) {
			padding: 13px 104px;
		}

	}

}

// //////////////////////////////////////////////////////////////////////////////////////////////
// View Legal Text
// //////////////////////////////////////////////////////////////////////////////////////////////

.viewLegal {
	text-align: center;
	margin: 0px auto;
	font-family: 'SSBold', 'Roboto', sans-serif;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-size: 14px;
	color: black;

	.fa {
		display: block;
	}

}

// //////////////////////////////////////////////////////////////////////////////////////////////
// Hidden Footer
// //////////////////////////////////////////////////////////////////////////////////////////////

footer {

	padding: 15px;
	padding-bottom: 10px;

	p {
		color: black;
		font-size: 10px;
		text-align: center;
	}

	.expirationText {
		font-family: 'SSBold', 'Roboto', sans-serif;
		text-transform: uppercase;
		font-size: 14px;
	}

}

// //////////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////////

// offerLanding.html Overlay Section

// //////////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////////

.overlay {
	background: rgba(0, 0, 0, 0.85);
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	position: fixed;
	padding-top: 12px;

	button.back {
		font-family: 'SSBold', 'Roboto', sans-serif;
		text-transform: uppercase;
		font-size: 12px;
		color: white;
		border: none;
		background: $sonicRed;
		border-radius: 3px;
		padding: 6px 10px;
		margin-bottom: 12px;
		-webkit-box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.16);
		box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.16);

		span {
			padding-left: 6px;
		}

	}

}

// //////////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////////

// offerRedeemed.html

// //////////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////////

.redeemedFooter {
	text-align: center;
	padding-top: 225px;
	margin-bottom: 20px;

	// iPhone 6/7 Specific Styles
	@media screen and (min-width: 375px) {
		padding-top: 300px;
	}

	// iPhone 6+/7+ Specific Styles
	@media screen and (min-width: 414px) {
		padding-top: 360px;
	}

	p {
		padding: 0px;
		margin: 0px;
		font-size: 12px;
		color: black;
		font-family: 'SSMedium', 'Roboto', sans-serif;
		text-shadow: 1px 1px rgba(255, 255, 255, 0.15);

		&.offerTitle {
			font-family: 'SSBold', 'Roboto', sans-serif;
			font-size: 14px;
		}

		&.offerRedemptionInformation {
			
			span.redeemedTitle {
				text-transform: uppercase;
				font-family: 'SSBold', 'Roboto', sans-serif;
			}

		}

	}

}

// //////////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////////

// offerExpired.html

// //////////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////////

.expired {

	text-align: center;
	margin: 0px auto;
	padding-top: 20px;
	
	.main {

		img {
			max-width: 65%;
			margin-bottom: 30px;
		}
		
		h2 {
			color: $sonicRed;
			text-transform: none !important;
			margin-top: 0px;
			margin-bottom: 40px;
		}

		.appButton {
			font-family: 'SSBold', 'Roboto', sans-serif;
			text-transform: uppercase;
			font-size: 16px;
			color: white;
			border: none;
			background: $sonicRed;
			border-radius: 3px;
			padding: 8px 32px;
			margin-bottom: 12px;
			-webkit-box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.16);
			-moz-box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.16);
			box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.16);

			// iPhone 6/7 Specific Styles
			@media screen and (min-width: 375px) {
				padding: 10px 80px;
			}

			// iPhone 6+/7+ Specific Styles
			@media screen and (min-width: 414px) {
				padding: 13px 104px;
			}
		}

	}

}









